<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thinh.learning">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".InputActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".InputActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thinh.learning.MyActivity" />
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".InputActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thinh.learning.MyActivity" />
        </activity>
        <activity
            android:name=".PhoneNumberActivity"
            android:label="@string/title_activity_picture"
            android:parentActivityName=".InputActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thinh.learning.InputActivity" />
        </activity>
        <activity
            android:name=".TestRadioActivity"
            android:label="@string/title_activity_test_radio"
            android:parentActivityName=".InputActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thinh.learning.InputActivity" />
        </activity>
        <activity
            android:name=".TakePictureActivity"
            android:label="@string/title_activity_take_picture"
            android:parentActivityName=".InputActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thinh.learning.InputActivity" />
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".InputActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thinh.learning.InputActivity" />
        </activity>
        <activity
            android:name=".DbTestActivity"
            android:label="@string/title_activity_db_test"
            android:parentActivityName=".InputActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thinh.learning.InputActivity" />
        </activity>
        <activity
            android:name=".modelForUetm.ListDemoActivity"
            android:label="@string/title_activity_db_test"
            android:parentActivityName=".InputActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.thinh.learning.InputActivity" />
        </activity>
    </application>

</manifest>
